/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
/**
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */
/**
 * Prevent margin and border from affecting element width.
 * https://goo.gl/pYtbK7
 *
 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/**
 * Removes the default spacing and border for appropriate elements.
 */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0;
}
button {
  background: transparent;
  border: 0;
  padding: 0;
}
/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
iframe {
  border: 0;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/**
 * Suppress the focus outline on elements that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */
[tabindex="-1"]:focus {
  outline: none !important;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-webkit-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 544px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #29363d;
  background-color: #f7f9fa;
}
textarea {
  resize: vertical;
}
button,
[role=button] {
  cursor: pointer;
}
small {
  font-size: 0.875rem;
}
h1,
h2,
h3 {
  font-weight: 300;
}
h4 {
  font-weight: 700;
}
h1 {
  font-size: 1.875rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
a,
.link {
  font-weight: 400;
  color: #29363d;
  text-decoration: none;
}
a:hover,
.link:hover,
a:focus,
.link:focus {
  color: #0a0d0f;
  text-decoration: underline;
}
a:focus,
.link:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.link-brand {
  color: #008bdb;
}
.link-brand:hover,
.link-brand:focus {
  color: #005a8f;
}
.link-brand-soft {
  color: #2197db;
}
.link-brand-soft:hover,
.link-brand-soft:focus {
  color: #176999;
}
.link-underline {
  text-decoration: underline;
}
.link-plain:hover,
.link-plain:focus {
  text-decoration: none;
}
.link-soft {
  color: rgba(41, 54, 61, 0.6);
}
.link-soft:hover,
.link-soft:focus {
  color: #29363d;
}
.link-muted {
  color: rgba(41, 54, 61, 0.35);
}
.link-muted:hover,
.link-muted:focus {
  color: #29363d;
}
.link-light {
  color: #ffffff;
}
.link-light:hover,
.link-light:focus {
  color: #ffffff;
}
.link-light-muted {
  color: rgba(255, 255, 255, 0.6);
}
.link-light-muted:hover,
.link-light-muted:focus {
  color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 543px) {
  .hidden-xs-down {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}
.hidden-xl-down {
  display: none !important;
}
.hidden-xs-up {
  display: none !important;
}
@media (min-width: 544px) {
  .hidden-sm-up {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}
.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}
.row.reverse {
  flex-direction: row-reverse;
}
.col.reverse {
  flex-direction: column-reverse;
}
.col {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  flex-basis: 100%;
  max-width: 100%;
}
.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
.col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.col-xs-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
.col-xs-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}
.col-xs-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.col-xs-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}
.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}
.col-xs-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}
.col-xs-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}
.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}
.col-xs-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}
.col-xs-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}
.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.start-xs {
  justify-content: flex-start;
  text-align: start;
}
.center-xs {
  justify-content: center;
  text-align: center;
}
.end-xs {
  justify-content: flex-end;
  text-align: end;
}
.top-xs {
  align-items: flex-start;
}
.middle-xs {
  align-items: center;
}
.bottom-xs {
  align-items: flex-end;
}
.around-xs {
  justify-content: space-around;
}
.between-xs {
  justify-content: space-between;
}
.first-xs {
  order: -1;
}
.last-xs {
  order: 1;
}
@media only screen and (min-width: 544px) {
  .container {
    max-width: 100%;
  }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-sm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-sm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-sm-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .start-sm {
    justify-content: flex-start;
    text-align: start;
  }
  .center-sm {
    justify-content: center;
    text-align: center;
  }
  .end-sm {
    justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    align-items: flex-start;
  }
  .middle-sm {
    align-items: center;
  }
  .bottom-sm {
    align-items: flex-end;
  }
  .around-sm {
    justify-content: space-around;
  }
  .between-sm {
    justify-content: space-between;
  }
  .first-sm {
    order: -1;
  }
  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-md-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-md-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-md-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-md-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .start-md {
    justify-content: flex-start;
    text-align: start;
  }
  .center-md {
    justify-content: center;
    text-align: center;
  }
  .end-md {
    justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    align-items: flex-start;
  }
  .middle-md {
    align-items: center;
  }
  .bottom-md {
    align-items: flex-end;
  }
  .around-md {
    justify-content: space-around;
  }
  .between-md {
    justify-content: space-between;
  }
  .first-md {
    order: -1;
  }
  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 940px;
  }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-lg-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-lg-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-lg-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-lg-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .start-lg {
    justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    justify-content: center;
    text-align: center;
  }
  .end-lg {
    justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    align-items: flex-start;
  }
  .middle-lg {
    align-items: center;
  }
  .bottom-lg {
    align-items: flex-end;
  }
  .around-lg {
    justify-content: space-around;
  }
  .between-lg {
    justify-content: space-between;
  }
  .first-lg {
    order: -1;
  }
  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .col-xl,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-offset-0,
  .col-xl-offset-1,
  .col-xl-offset-2,
  .col-xl-offset-3,
  .col-xl-offset-4,
  .col-xl-offset-5,
  .col-xl-offset-6,
  .col-xl-offset-7,
  .col-xl-offset-8,
  .col-xl-offset-9,
  .col-xl-offset-10,
  .col-xl-offset-11,
  .col-xl-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-xl-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-xl-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-xl-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-xl-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-xl-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-xl-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-xl-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-xl-offset-0 {
    margin-left: 0;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66666667%;
  }
  .start-xl {
    justify-content: flex-start;
    text-align: start;
  }
  .center-xl {
    justify-content: center;
    text-align: center;
  }
  .end-xl {
    justify-content: flex-end;
    text-align: end;
  }
  .top-xl {
    align-items: flex-start;
  }
  .middle-xl {
    align-items: center;
  }
  .bottom-xl {
    align-items: flex-end;
  }
  .around-xl {
    justify-content: space-around;
  }
  .between-xl {
    justify-content: space-between;
  }
  .first-xl {
    order: -1;
  }
  .last-xl {
    order: 1;
  }
}
.flex {
  display: flex;
}
.flex-top {
  align-items: flex-start;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-y-center {
  display: flex;
  align-items: center;
}
.flex-baseline {
  display: flex;
  align-items: baseline;
}
.flex-y-end {
  display: flex;
  align-items: flex-end;
}
.flex-right {
  justify-content: flex-end;
}
.flex-spaced {
  display: flex;
  justify-content: space-between;
}
.flex-around {
  display: flex;
  justify-content: space-around;
}
.flex-fit {
  flex: 1;
}
.flex-no-shrink {
  flex-shrink: 0;
}
img {
  vertical-align: middle;
}
.img-fit {
  max-width: 100%;
}
.media-object {
  display: flex;
}
.media-left > .zondicon {
  vertical-align: sub;
}
.media-body {
  flex: 1;
}
.progress {
  display: block;
  width: 100%;
  height: 0.5rem;
}
.progress[value] {
  background-color: #e8eaeb;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}
.progress[value]::-ms-fill {
  background-color: #79bc70;
  border: 0;
}
.progress[value]::-moz-progress-bar {
  background-color: #79bc70;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.progress[value]::-webkit-progress-value {
  background-color: #79bc70;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.progress[value="100"]::-moz-progress-bar {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.progress[value="100"]::-webkit-progress-value {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.progress[value]::-webkit-progress-bar {
  background-color: #e8eaeb;
  border-radius: 0.25rem;
}
base::-moz-progress-bar,
.progress[value] {
  background-color: #e8eaeb;
  border-radius: 0.25rem;
}
.form-title {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e8eaeb;
}
.form-group {
  margin-bottom: 1rem;
}
.form-label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 600;
}
.form-control-file {
  display: block;
  max-width: 100%;
}
.form-control-file::-webkit-file-upload-button {
  display: inline-block;
  padding: 0.5em 1em;
  line-height: 1.25;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  color: #29363d;
  font-weight: 700;
  background-color: #e8eaeb;
  border: 1px solid #e8eaeb;
  border-bottom: 1px solid #d3d6d7;
  text-shadow: 0px 1px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.form-control-file::-webkit-file-upload-button:focus,
.form-control-file::-webkit-file-upload-button:hover {
  text-decoration: none;
}
.form-control-file::-webkit-file-upload-button:active,
.form-control-file::-webkit-file-upload-button:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.form-control-file::-webkit-file-upload-button:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}
.form-control-file::-webkit-file-upload-button:active,
.form-control-file::-webkit-file-upload-button:hover {
  color: #29363d;
  background-color: #dbdddf;
  border: 1px solid #dbdddf;
  border-bottom: 1px solid #c5c9cb;
}
.form-control-file::-webkit-file-upload-button:disabled {
  border-color: #7a8185;
  color: #7a8185;
  background-color: #e8eaeb;
  background-image: none;
  border-color: #272829;
  color: #272829;
}
.form-control-file::-webkit-file-upload-button.btn-loading {
  text-shadow: none;
}
.form-control-file::-webkit-file-upload-button.btn-loading:after {
  border-left-color: rgba(41, 54, 61, 0.7);
  border-bottom-color: rgba(41, 54, 61, 0.7);
}
.form-control-file::-webkit-file-upload-button.btn-loading:disabled {
  color: #29363d;
  background-color: #e8eaeb;
  border-color: #e8eaeb;
  border-bottom-color: #d3d6d7;
  opacity: 0.5;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  background: #fff;
  line-height: 1.25;
  border: 1px solid #e8eaeb;
  border-radius: 0.25rem;
}
.form-control.has-error {
  border-color: #f0bbb9;
}
select.form-control {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAANCAYAAABlyXS1AAAABGdBTUEAALGPC/xhBQAAALJJREFUGBm9UCEOwkAQ3L3Cf2pwpKkhoQkej0GRUE/bpSdwbR3BYXlAwwOQmP4Eh7xlh4BFsuJmZzK7N3dMnxJp4xD05ByvRfIBssMh0i1CoJsqP4Hg0KOybDcmnIn44H2+SpJsrKrHNJ0/MDljpr332xpuIDh08H8XF0XTM/O9rnP5Xm4vEEs8sbSuV6VdVTVISEBw6AzBnJk5L7ZhMIwNl7bp+v4hNFHkpuYbAcEx9LNeG4xMYRDZ28cAAAAASUVORK5CYII=) right 8px center no-repeat;
  -moz-appearance: none;
  -webkit-appearance: none;
}
[type="date"].form-control::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}
[type="date"].form-control::-webkit-inner-spin-button {
  height: 1.25em;
}
.form-control::-webkit-input-placeholder {
  color: #afb3b5;
}
.form-control:-ms-input-placeholder {
  color: #afb3b5;
}
.form-control::placeholder {
  color: #afb3b5;
}
[type="color"].form-control {
  position: relative;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}
[type="color"].form-control::-webkit-color-swatch-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0.5rem 0.75rem;
}
[type="color"].form-control::-webkit-color-swatch {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.form-control-static {
  display: block;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.25;
  border: 1px solid transparent;
}
.help-block {
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
.form-group.has-error .form-label,
.form-group.has-error .help-block {
  color: #d95550;
}
.form-group.has-error .form-control,
.form-group.has-error .input-group {
  border-color: #f0bbb9;
}
.form-group.has-error .form-control-feedback {
  color: #d95550;
}
.form-control-feedback {
  margin-top: 0.5rem;
}
.input-group {
  display: flex;
  border: 1px solid #e8eaeb;
  border-radius: 0.25rem;
  background: #fff;
  overflow: hidden;
}
.input-group .input-group-addon {
  display: flex;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-right: 1px solid #e8eaeb;
  align-items: center;
}
.input-group .form-control {
  flex: 1;
  border: none;
  border-radius: 0;
}
.btn {
  display: inline-block;
  padding: 0.5em 1em;
  font-weight: 700;
  line-height: 1.25;
  border-radius: 0.25rem;
}
.btn:focus,
.btn:hover {
  text-decoration: none;
}
.btn:active,
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}
.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}
.btn-sm {
  font-size: 0.875rem;
}
.btn-lg {
  font-size: 1.25rem;
}
.btn-xs {
  font-size: 0.75rem;
}
.btn-wide {
  padding-left: 2em;
  padding-right: 2em;
}
.btn-primary-outline {
  color: #38a3e0;
  background-color: transparent;
  border: 1px solid #38a3e0;
  font-weight: 400;
}
.btn-primary-outline:active,
.btn-primary-outline:hover {
  color: #38a3e0;
  background-color: rgba(56, 163, 224, 0.1);
  border-color: #38a3e0;
}
.btn-primary-outline:focus {
  color: #38a3e0;
}
.btn-primary-outline:disabled:active,
.btn-primary-outline:disabled:hover {
  border-color: #38a3e0;
}
.btn-inv-outline {
  color: #fff;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-weight: 400;
}
.btn-inv-outline:active,
.btn-inv-outline:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #fff;
}
.btn-inv-outline:focus {
  color: #fff;
}
.btn-inv-outline:disabled:active,
.btn-inv-outline:disabled:hover {
  border-color: #ffffff;
}
.btn-danger {
  color: #d95550;
  background-color: transparent;
  border: 1px solid #d95550;
  font-weight: 400;
}
.btn-danger:active,
.btn-danger:hover {
  color: #d95550;
  background-color: rgba(217, 85, 80, 0.1);
  border-color: #d95550;
}
.btn-danger:focus {
  color: #d95550;
}
.btn-danger:disabled:active,
.btn-danger:disabled:hover {
  border-color: #d95550;
}
.btn-link {
  font-weight: 400;
  color: #29363d;
  background-color: transparent;
}
.btn-link:focus,
.btn-link:hover {
  color: #0a0d0f;
  text-decoration: underline;
}
.btn-pad-lg {
  padding: 0.5rem 1rem;
}
.btn-loading {
  position: relative;
  color: transparent !important;
}
.btn-loading:after {
  position: absolute !important;
  display: block;
  height: 1rem;
  width: 1rem;
  top: 50%;
  left: 50%;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
  border: 2px solid #29363d;
  border-radius: 0.5rem;
  border-right-color: transparent;
  border-top-color: transparent;
  animation: spin-around 500ms infinite linear;
  content: "";
}
.btn-primary {
  color: #fff;
  font-weight: 700;
  background-color: #38a3e0;
  border: 1px solid #38a3e0;
  border-bottom: 1px solid #208fcf;
  text-shadow: 0px -1px #208fcf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.btn-primary:active,
.btn-primary:hover {
  color: #fff;
  background-color: #2298dd;
  border: 1px solid #2298dd;
  border-bottom: 1px solid #1d80b9;
}
.btn-primary:disabled {
  border-color: #7a8185;
  color: #7a8185;
  background-color: #e8eaeb;
  background-image: none;
  border-color: #272829;
  color: #272829;
}
.btn-primary.btn-loading {
  text-shadow: none;
}
.btn-primary.btn-loading:after {
  border-left-color: rgba(255, 255, 255, 0.7);
  border-bottom-color: rgba(255, 255, 255, 0.7);
}
.btn-primary.btn-loading:disabled {
  color: #fff;
  background-color: #38a3e0;
  border-color: #38a3e0;
  border-bottom-color: #208fcf;
  opacity: 0.5;
}
.btn-secondary {
  color: #29363d;
  font-weight: 700;
  background-color: #e8eaeb;
  border: 1px solid #e8eaeb;
  border-bottom: 1px solid #d3d6d7;
  text-shadow: 0px 1px rgba(255, 255, 255, 0.4);
}
.btn-secondary:active,
.btn-secondary:hover {
  color: #29363d;
  background-color: #dbdddf;
  border: 1px solid #dbdddf;
  border-bottom: 1px solid #c5c9cb;
}
.btn-secondary:disabled {
  border-color: #7a8185;
  color: #7a8185;
  background-color: #e8eaeb;
  background-image: none;
  border-color: #272829;
  color: #272829;
}
.btn-secondary.btn-loading {
  text-shadow: none;
}
.btn-secondary.btn-loading:after {
  border-left-color: rgba(41, 54, 61, 0.7);
  border-bottom-color: rgba(41, 54, 61, 0.7);
}
.btn-secondary.btn-loading:disabled {
  color: #29363d;
  background-color: #e8eaeb;
  border-color: #e8eaeb;
  border-bottom-color: #d3d6d7;
  opacity: 0.5;
}
.navbar {
  padding-top: 1rem;
  background-color: #272829;
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subnav {
  background: #fff;
  border-bottom: 1px solid #e8eaeb;
}
.subnav-items {
  display: flex;
  align-items: flex-start;
}
.subnav-item {
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 2rem;
}
.subnav-item:last-child {
  margin-right: 0;
}
.subnav-item.is-active {
  border-bottom: 0.25rem solid #38a3e0;
}
.card {
  background: #fff;
  border: 1px solid #e8eaeb;
  border-radius: 0.25rem;
  overflow: hidden;
}
.card-section {
  padding: 1rem 1.5rem;
}
.zondicon {
  display: inline-block;
  height: 1.25em;
  width: 1.25em;
  fill: currentColor;
  color: #29363d;
  vertical-align: text-bottom;
}
.zondicon-sm {
  height: 1em;
  width: 1em;
}
.alert {
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
}
.alert-danger {
  background-color: #fffafa;
  border-color: #d95550;
}
.bullet-list {
  list-style-type: disc;
  padding-left: 2.5rem;
}
.bullet-list > li {
  margin-bottom: 0.5rem;
}
.bullet-list > li:last-child {
  margin-bottom: 0;
}
.numbered-list {
  list-style-type: decimal;
  padding-left: 2rem;
}
.numbered-list > li {
  margin-bottom: 0.5rem;
}
.numbered-list > li:last-child {
  margin-bottom: 0;
}
.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}
.table td,
.table th {
  text-align: left;
  padding: 0.5rem;
  white-space: nowrap;
}
.table th {
  font-weight: 600 !important;
  border-bottom: 2px solid #e8eaeb;
}
.table td {
  border-top: 1px solid #e8eaeb;
}
[v-cloak] .v-cloak-block {
  display: block;
}
[v-cloak] .v-cloak-inline {
  display: inline;
}
[v-cloak] .v-cloak-inlineBlock {
  display: inline-block;
}
[v-cloak] .v-cloak-hidden {
  display: none;
}
[v-cloak] .v-cloak-invisible {
  visibility: hidden;
}
.v-cloak-block,
.v-cloak-inline,
.v-cloak-inlineBlock {
  display: none;
}
.bg-light {
  background-color: #fff;
}
.bg-soft {
  background-color: #f7f9fa;
}
.bg-muted {
  background-color: #e8eaeb;
}
.bg-gray {
  background-color: #484e52;
}
.bg-dark {
  background-color: #272829;
}
.constrain {
  max-width: 33rem;
}
.constrain-sm {
  max-width: 26rem;
}
.constrain-lg {
  max-width: 40rem;
}
.constrain-xl {
  max-width: 48em;
}
.m-xs-t-0 {
  margin-top: 0;
}
.m-xs-r-0 {
  margin-right: 0;
}
.m-xs-b-0 {
  margin-bottom: 0;
}
.m-xs-l-0 {
  margin-left: 0;
}
.m-xs-y-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.m-xs-x-0 {
  margin-right: 0;
  margin-left: 0;
}
.m-xs-0 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}
.m-xs-t-1 {
  margin-top: 0.25rem;
}
.m-xs-r-1 {
  margin-right: 0.25rem;
}
.m-xs-b-1 {
  margin-bottom: 0.25rem;
}
.m-xs-l-1 {
  margin-left: 0.25rem;
}
.m-xs-y-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.m-xs-x-1 {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}
.m-xs-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}
.m-xs-t-2 {
  margin-top: 0.5rem;
}
.m-xs-r-2 {
  margin-right: 0.5rem;
}
.m-xs-b-2 {
  margin-bottom: 0.5rem;
}
.m-xs-l-2 {
  margin-left: 0.5rem;
}
.m-xs-y-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.m-xs-x-2 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.m-xs-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.m-xs-t-3 {
  margin-top: 0.75rem;
}
.m-xs-r-3 {
  margin-right: 0.75rem;
}
.m-xs-b-3 {
  margin-bottom: 0.75rem;
}
.m-xs-l-3 {
  margin-left: 0.75rem;
}
.m-xs-y-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.m-xs-x-3 {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.m-xs-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.m-xs-t-4 {
  margin-top: 1rem;
}
.m-xs-r-4 {
  margin-right: 1rem;
}
.m-xs-b-4 {
  margin-bottom: 1rem;
}
.m-xs-l-4 {
  margin-left: 1rem;
}
.m-xs-y-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.m-xs-x-4 {
  margin-right: 1rem;
  margin-left: 1rem;
}
.m-xs-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.m-xs-t-5 {
  margin-top: 1.5rem;
}
.m-xs-r-5 {
  margin-right: 1.5rem;
}
.m-xs-b-5 {
  margin-bottom: 1.5rem;
}
.m-xs-l-5 {
  margin-left: 1.5rem;
}
.m-xs-y-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.m-xs-x-5 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.m-xs-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.m-xs-t-6 {
  margin-top: 2rem;
}
.m-xs-r-6 {
  margin-right: 2rem;
}
.m-xs-b-6 {
  margin-bottom: 2rem;
}
.m-xs-l-6 {
  margin-left: 2rem;
}
.m-xs-y-6 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.m-xs-x-6 {
  margin-right: 2rem;
  margin-left: 2rem;
}
.m-xs-6 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}
.m-xs-t-7 {
  margin-top: 3rem;
}
.m-xs-r-7 {
  margin-right: 3rem;
}
.m-xs-b-7 {
  margin-bottom: 3rem;
}
.m-xs-l-7 {
  margin-left: 3rem;
}
.m-xs-y-7 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.m-xs-x-7 {
  margin-right: 3rem;
  margin-left: 3rem;
}
.m-xs-7 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 3rem;
  margin-left: 3rem;
}
.m-xs-t-8 {
  margin-top: 4rem;
}
.m-xs-r-8 {
  margin-right: 4rem;
}
.m-xs-b-8 {
  margin-bottom: 4rem;
}
.m-xs-l-8 {
  margin-left: 4rem;
}
.m-xs-y-8 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.m-xs-x-8 {
  margin-right: 4rem;
  margin-left: 4rem;
}
.m-xs-8 {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-right: 4rem;
  margin-left: 4rem;
}
@media (min-width: 544px) {
  .m-sm-t-0 {
    margin-top: 0;
  }
  .m-sm-r-0 {
    margin-right: 0;
  }
  .m-sm-b-0 {
    margin-bottom: 0;
  }
  .m-sm-l-0 {
    margin-left: 0;
  }
  .m-sm-y-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .m-sm-x-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .m-sm-0 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .m-sm-t-1 {
    margin-top: 0.25rem;
  }
  .m-sm-r-1 {
    margin-right: 0.25rem;
  }
  .m-sm-b-1 {
    margin-bottom: 0.25rem;
  }
  .m-sm-l-1 {
    margin-left: 0.25rem;
  }
  .m-sm-y-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .m-sm-x-1 {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
  .m-sm-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
  .m-sm-t-2 {
    margin-top: 0.5rem;
  }
  .m-sm-r-2 {
    margin-right: 0.5rem;
  }
  .m-sm-b-2 {
    margin-bottom: 0.5rem;
  }
  .m-sm-l-2 {
    margin-left: 0.5rem;
  }
  .m-sm-y-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .m-sm-x-2 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .m-sm-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .m-sm-t-3 {
    margin-top: 0.75rem;
  }
  .m-sm-r-3 {
    margin-right: 0.75rem;
  }
  .m-sm-b-3 {
    margin-bottom: 0.75rem;
  }
  .m-sm-l-3 {
    margin-left: 0.75rem;
  }
  .m-sm-y-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .m-sm-x-3 {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  .m-sm-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  .m-sm-t-4 {
    margin-top: 1rem;
  }
  .m-sm-r-4 {
    margin-right: 1rem;
  }
  .m-sm-b-4 {
    margin-bottom: 1rem;
  }
  .m-sm-l-4 {
    margin-left: 1rem;
  }
  .m-sm-y-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .m-sm-x-4 {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .m-sm-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .m-sm-t-5 {
    margin-top: 1.5rem;
  }
  .m-sm-r-5 {
    margin-right: 1.5rem;
  }
  .m-sm-b-5 {
    margin-bottom: 1.5rem;
  }
  .m-sm-l-5 {
    margin-left: 1.5rem;
  }
  .m-sm-y-5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .m-sm-x-5 {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .m-sm-5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .m-sm-t-6 {
    margin-top: 2rem;
  }
  .m-sm-r-6 {
    margin-right: 2rem;
  }
  .m-sm-b-6 {
    margin-bottom: 2rem;
  }
  .m-sm-l-6 {
    margin-left: 2rem;
  }
  .m-sm-y-6 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .m-sm-x-6 {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .m-sm-6 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .m-sm-t-7 {
    margin-top: 3rem;
  }
  .m-sm-r-7 {
    margin-right: 3rem;
  }
  .m-sm-b-7 {
    margin-bottom: 3rem;
  }
  .m-sm-l-7 {
    margin-left: 3rem;
  }
  .m-sm-y-7 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .m-sm-x-7 {
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .m-sm-7 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .m-sm-t-8 {
    margin-top: 4rem;
  }
  .m-sm-r-8 {
    margin-right: 4rem;
  }
  .m-sm-b-8 {
    margin-bottom: 4rem;
  }
  .m-sm-l-8 {
    margin-left: 4rem;
  }
  .m-sm-y-8 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .m-sm-x-8 {
    margin-right: 4rem;
    margin-left: 4rem;
  }
  .m-sm-8 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-right: 4rem;
    margin-left: 4rem;
  }
}
@media (min-width: 768px) {
  .m-md-t-0 {
    margin-top: 0;
  }
  .m-md-r-0 {
    margin-right: 0;
  }
  .m-md-b-0 {
    margin-bottom: 0;
  }
  .m-md-l-0 {
    margin-left: 0;
  }
  .m-md-y-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .m-md-x-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .m-md-0 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .m-md-t-1 {
    margin-top: 0.25rem;
  }
  .m-md-r-1 {
    margin-right: 0.25rem;
  }
  .m-md-b-1 {
    margin-bottom: 0.25rem;
  }
  .m-md-l-1 {
    margin-left: 0.25rem;
  }
  .m-md-y-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .m-md-x-1 {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
  .m-md-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
  .m-md-t-2 {
    margin-top: 0.5rem;
  }
  .m-md-r-2 {
    margin-right: 0.5rem;
  }
  .m-md-b-2 {
    margin-bottom: 0.5rem;
  }
  .m-md-l-2 {
    margin-left: 0.5rem;
  }
  .m-md-y-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .m-md-x-2 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .m-md-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .m-md-t-3 {
    margin-top: 0.75rem;
  }
  .m-md-r-3 {
    margin-right: 0.75rem;
  }
  .m-md-b-3 {
    margin-bottom: 0.75rem;
  }
  .m-md-l-3 {
    margin-left: 0.75rem;
  }
  .m-md-y-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .m-md-x-3 {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  .m-md-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  .m-md-t-4 {
    margin-top: 1rem;
  }
  .m-md-r-4 {
    margin-right: 1rem;
  }
  .m-md-b-4 {
    margin-bottom: 1rem;
  }
  .m-md-l-4 {
    margin-left: 1rem;
  }
  .m-md-y-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .m-md-x-4 {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .m-md-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .m-md-t-5 {
    margin-top: 1.5rem;
  }
  .m-md-r-5 {
    margin-right: 1.5rem;
  }
  .m-md-b-5 {
    margin-bottom: 1.5rem;
  }
  .m-md-l-5 {
    margin-left: 1.5rem;
  }
  .m-md-y-5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .m-md-x-5 {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .m-md-5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .m-md-t-6 {
    margin-top: 2rem;
  }
  .m-md-r-6 {
    margin-right: 2rem;
  }
  .m-md-b-6 {
    margin-bottom: 2rem;
  }
  .m-md-l-6 {
    margin-left: 2rem;
  }
  .m-md-y-6 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .m-md-x-6 {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .m-md-6 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .m-md-t-7 {
    margin-top: 3rem;
  }
  .m-md-r-7 {
    margin-right: 3rem;
  }
  .m-md-b-7 {
    margin-bottom: 3rem;
  }
  .m-md-l-7 {
    margin-left: 3rem;
  }
  .m-md-y-7 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .m-md-x-7 {
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .m-md-7 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .m-md-t-8 {
    margin-top: 4rem;
  }
  .m-md-r-8 {
    margin-right: 4rem;
  }
  .m-md-b-8 {
    margin-bottom: 4rem;
  }
  .m-md-l-8 {
    margin-left: 4rem;
  }
  .m-md-y-8 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .m-md-x-8 {
    margin-right: 4rem;
    margin-left: 4rem;
  }
  .m-md-8 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-right: 4rem;
    margin-left: 4rem;
  }
}
@media (min-width: 992px) {
  .m-lg-t-0 {
    margin-top: 0;
  }
  .m-lg-r-0 {
    margin-right: 0;
  }
  .m-lg-b-0 {
    margin-bottom: 0;
  }
  .m-lg-l-0 {
    margin-left: 0;
  }
  .m-lg-y-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .m-lg-x-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .m-lg-0 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .m-lg-t-1 {
    margin-top: 0.25rem;
  }
  .m-lg-r-1 {
    margin-right: 0.25rem;
  }
  .m-lg-b-1 {
    margin-bottom: 0.25rem;
  }
  .m-lg-l-1 {
    margin-left: 0.25rem;
  }
  .m-lg-y-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .m-lg-x-1 {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
  .m-lg-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
  .m-lg-t-2 {
    margin-top: 0.5rem;
  }
  .m-lg-r-2 {
    margin-right: 0.5rem;
  }
  .m-lg-b-2 {
    margin-bottom: 0.5rem;
  }
  .m-lg-l-2 {
    margin-left: 0.5rem;
  }
  .m-lg-y-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .m-lg-x-2 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .m-lg-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .m-lg-t-3 {
    margin-top: 0.75rem;
  }
  .m-lg-r-3 {
    margin-right: 0.75rem;
  }
  .m-lg-b-3 {
    margin-bottom: 0.75rem;
  }
  .m-lg-l-3 {
    margin-left: 0.75rem;
  }
  .m-lg-y-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .m-lg-x-3 {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  .m-lg-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  .m-lg-t-4 {
    margin-top: 1rem;
  }
  .m-lg-r-4 {
    margin-right: 1rem;
  }
  .m-lg-b-4 {
    margin-bottom: 1rem;
  }
  .m-lg-l-4 {
    margin-left: 1rem;
  }
  .m-lg-y-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .m-lg-x-4 {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .m-lg-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .m-lg-t-5 {
    margin-top: 1.5rem;
  }
  .m-lg-r-5 {
    margin-right: 1.5rem;
  }
  .m-lg-b-5 {
    margin-bottom: 1.5rem;
  }
  .m-lg-l-5 {
    margin-left: 1.5rem;
  }
  .m-lg-y-5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .m-lg-x-5 {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .m-lg-5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .m-lg-t-6 {
    margin-top: 2rem;
  }
  .m-lg-r-6 {
    margin-right: 2rem;
  }
  .m-lg-b-6 {
    margin-bottom: 2rem;
  }
  .m-lg-l-6 {
    margin-left: 2rem;
  }
  .m-lg-y-6 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .m-lg-x-6 {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .m-lg-6 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .m-lg-t-7 {
    margin-top: 3rem;
  }
  .m-lg-r-7 {
    margin-right: 3rem;
  }
  .m-lg-b-7 {
    margin-bottom: 3rem;
  }
  .m-lg-l-7 {
    margin-left: 3rem;
  }
  .m-lg-y-7 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .m-lg-x-7 {
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .m-lg-7 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .m-lg-t-8 {
    margin-top: 4rem;
  }
  .m-lg-r-8 {
    margin-right: 4rem;
  }
  .m-lg-b-8 {
    margin-bottom: 4rem;
  }
  .m-lg-l-8 {
    margin-left: 4rem;
  }
  .m-lg-y-8 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .m-lg-x-8 {
    margin-right: 4rem;
    margin-left: 4rem;
  }
  .m-lg-8 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-right: 4rem;
    margin-left: 4rem;
  }
}
@media (min-width: 1200px) {
  .m-xl-t-0 {
    margin-top: 0;
  }
  .m-xl-r-0 {
    margin-right: 0;
  }
  .m-xl-b-0 {
    margin-bottom: 0;
  }
  .m-xl-l-0 {
    margin-left: 0;
  }
  .m-xl-y-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .m-xl-x-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .m-xl-0 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .m-xl-t-1 {
    margin-top: 0.25rem;
  }
  .m-xl-r-1 {
    margin-right: 0.25rem;
  }
  .m-xl-b-1 {
    margin-bottom: 0.25rem;
  }
  .m-xl-l-1 {
    margin-left: 0.25rem;
  }
  .m-xl-y-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .m-xl-x-1 {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
  .m-xl-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
  .m-xl-t-2 {
    margin-top: 0.5rem;
  }
  .m-xl-r-2 {
    margin-right: 0.5rem;
  }
  .m-xl-b-2 {
    margin-bottom: 0.5rem;
  }
  .m-xl-l-2 {
    margin-left: 0.5rem;
  }
  .m-xl-y-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .m-xl-x-2 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .m-xl-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .m-xl-t-3 {
    margin-top: 0.75rem;
  }
  .m-xl-r-3 {
    margin-right: 0.75rem;
  }
  .m-xl-b-3 {
    margin-bottom: 0.75rem;
  }
  .m-xl-l-3 {
    margin-left: 0.75rem;
  }
  .m-xl-y-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .m-xl-x-3 {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  .m-xl-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  .m-xl-t-4 {
    margin-top: 1rem;
  }
  .m-xl-r-4 {
    margin-right: 1rem;
  }
  .m-xl-b-4 {
    margin-bottom: 1rem;
  }
  .m-xl-l-4 {
    margin-left: 1rem;
  }
  .m-xl-y-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .m-xl-x-4 {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .m-xl-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .m-xl-t-5 {
    margin-top: 1.5rem;
  }
  .m-xl-r-5 {
    margin-right: 1.5rem;
  }
  .m-xl-b-5 {
    margin-bottom: 1.5rem;
  }
  .m-xl-l-5 {
    margin-left: 1.5rem;
  }
  .m-xl-y-5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .m-xl-x-5 {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .m-xl-5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .m-xl-t-6 {
    margin-top: 2rem;
  }
  .m-xl-r-6 {
    margin-right: 2rem;
  }
  .m-xl-b-6 {
    margin-bottom: 2rem;
  }
  .m-xl-l-6 {
    margin-left: 2rem;
  }
  .m-xl-y-6 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .m-xl-x-6 {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .m-xl-6 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .m-xl-t-7 {
    margin-top: 3rem;
  }
  .m-xl-r-7 {
    margin-right: 3rem;
  }
  .m-xl-b-7 {
    margin-bottom: 3rem;
  }
  .m-xl-l-7 {
    margin-left: 3rem;
  }
  .m-xl-y-7 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .m-xl-x-7 {
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .m-xl-7 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .m-xl-t-8 {
    margin-top: 4rem;
  }
  .m-xl-r-8 {
    margin-right: 4rem;
  }
  .m-xl-b-8 {
    margin-bottom: 4rem;
  }
  .m-xl-l-8 {
    margin-left: 4rem;
  }
  .m-xl-y-8 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .m-xl-x-8 {
    margin-right: 4rem;
    margin-left: 4rem;
  }
  .m-xl-8 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-right: 4rem;
    margin-left: 4rem;
  }
}
.m-xs-auto {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 544px) {
  .m-sm-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .m-md-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .m-lg-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .m-xl-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
.p-xs-t-0 {
  padding-top: 0;
}
.p-xs-r-0 {
  padding-right: 0;
}
.p-xs-b-0 {
  padding-bottom: 0;
}
.p-xs-l-0 {
  padding-left: 0;
}
.p-xs-y-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.p-xs-x-0 {
  padding-right: 0;
  padding-left: 0;
}
.p-xs-0 {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}
.p-xs-t-1 {
  padding-top: 0.25rem;
}
.p-xs-r-1 {
  padding-right: 0.25rem;
}
.p-xs-b-1 {
  padding-bottom: 0.25rem;
}
.p-xs-l-1 {
  padding-left: 0.25rem;
}
.p-xs-y-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.p-xs-x-1 {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}
.p-xs-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}
.p-xs-t-2 {
  padding-top: 0.5rem;
}
.p-xs-r-2 {
  padding-right: 0.5rem;
}
.p-xs-b-2 {
  padding-bottom: 0.5rem;
}
.p-xs-l-2 {
  padding-left: 0.5rem;
}
.p-xs-y-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.p-xs-x-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.p-xs-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.p-xs-t-3 {
  padding-top: 0.75rem;
}
.p-xs-r-3 {
  padding-right: 0.75rem;
}
.p-xs-b-3 {
  padding-bottom: 0.75rem;
}
.p-xs-l-3 {
  padding-left: 0.75rem;
}
.p-xs-y-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.p-xs-x-3 {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.p-xs-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.p-xs-t-4 {
  padding-top: 1rem;
}
.p-xs-r-4 {
  padding-right: 1rem;
}
.p-xs-b-4 {
  padding-bottom: 1rem;
}
.p-xs-l-4 {
  padding-left: 1rem;
}
.p-xs-y-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.p-xs-x-4 {
  padding-right: 1rem;
  padding-left: 1rem;
}
.p-xs-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.p-xs-t-5 {
  padding-top: 1.5rem;
}
.p-xs-r-5 {
  padding-right: 1.5rem;
}
.p-xs-b-5 {
  padding-bottom: 1.5rem;
}
.p-xs-l-5 {
  padding-left: 1.5rem;
}
.p-xs-y-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.p-xs-x-5 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.p-xs-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.p-xs-t-6 {
  padding-top: 2rem;
}
.p-xs-r-6 {
  padding-right: 2rem;
}
.p-xs-b-6 {
  padding-bottom: 2rem;
}
.p-xs-l-6 {
  padding-left: 2rem;
}
.p-xs-y-6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.p-xs-x-6 {
  padding-right: 2rem;
  padding-left: 2rem;
}
.p-xs-6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
.p-xs-t-7 {
  padding-top: 3rem;
}
.p-xs-r-7 {
  padding-right: 3rem;
}
.p-xs-b-7 {
  padding-bottom: 3rem;
}
.p-xs-l-7 {
  padding-left: 3rem;
}
.p-xs-y-7 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.p-xs-x-7 {
  padding-right: 3rem;
  padding-left: 3rem;
}
.p-xs-7 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 3rem;
  padding-left: 3rem;
}
.p-xs-t-8 {
  padding-top: 4rem;
}
.p-xs-r-8 {
  padding-right: 4rem;
}
.p-xs-b-8 {
  padding-bottom: 4rem;
}
.p-xs-l-8 {
  padding-left: 4rem;
}
.p-xs-y-8 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.p-xs-x-8 {
  padding-right: 4rem;
  padding-left: 4rem;
}
.p-xs-8 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-right: 4rem;
  padding-left: 4rem;
}
@media (min-width: 544px) {
  .p-sm-t-0 {
    padding-top: 0;
  }
  .p-sm-r-0 {
    padding-right: 0;
  }
  .p-sm-b-0 {
    padding-bottom: 0;
  }
  .p-sm-l-0 {
    padding-left: 0;
  }
  .p-sm-y-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .p-sm-x-0 {
    padding-right: 0;
    padding-left: 0;
  }
  .p-sm-0 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .p-sm-t-1 {
    padding-top: 0.25rem;
  }
  .p-sm-r-1 {
    padding-right: 0.25rem;
  }
  .p-sm-b-1 {
    padding-bottom: 0.25rem;
  }
  .p-sm-l-1 {
    padding-left: 0.25rem;
  }
  .p-sm-y-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .p-sm-x-1 {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  .p-sm-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  .p-sm-t-2 {
    padding-top: 0.5rem;
  }
  .p-sm-r-2 {
    padding-right: 0.5rem;
  }
  .p-sm-b-2 {
    padding-bottom: 0.5rem;
  }
  .p-sm-l-2 {
    padding-left: 0.5rem;
  }
  .p-sm-y-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .p-sm-x-2 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .p-sm-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .p-sm-t-3 {
    padding-top: 0.75rem;
  }
  .p-sm-r-3 {
    padding-right: 0.75rem;
  }
  .p-sm-b-3 {
    padding-bottom: 0.75rem;
  }
  .p-sm-l-3 {
    padding-left: 0.75rem;
  }
  .p-sm-y-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .p-sm-x-3 {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .p-sm-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .p-sm-t-4 {
    padding-top: 1rem;
  }
  .p-sm-r-4 {
    padding-right: 1rem;
  }
  .p-sm-b-4 {
    padding-bottom: 1rem;
  }
  .p-sm-l-4 {
    padding-left: 1rem;
  }
  .p-sm-y-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .p-sm-x-4 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .p-sm-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .p-sm-t-5 {
    padding-top: 1.5rem;
  }
  .p-sm-r-5 {
    padding-right: 1.5rem;
  }
  .p-sm-b-5 {
    padding-bottom: 1.5rem;
  }
  .p-sm-l-5 {
    padding-left: 1.5rem;
  }
  .p-sm-y-5 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .p-sm-x-5 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .p-sm-5 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .p-sm-t-6 {
    padding-top: 2rem;
  }
  .p-sm-r-6 {
    padding-right: 2rem;
  }
  .p-sm-b-6 {
    padding-bottom: 2rem;
  }
  .p-sm-l-6 {
    padding-left: 2rem;
  }
  .p-sm-y-6 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .p-sm-x-6 {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .p-sm-6 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .p-sm-t-7 {
    padding-top: 3rem;
  }
  .p-sm-r-7 {
    padding-right: 3rem;
  }
  .p-sm-b-7 {
    padding-bottom: 3rem;
  }
  .p-sm-l-7 {
    padding-left: 3rem;
  }
  .p-sm-y-7 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .p-sm-x-7 {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .p-sm-7 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .p-sm-t-8 {
    padding-top: 4rem;
  }
  .p-sm-r-8 {
    padding-right: 4rem;
  }
  .p-sm-b-8 {
    padding-bottom: 4rem;
  }
  .p-sm-l-8 {
    padding-left: 4rem;
  }
  .p-sm-y-8 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .p-sm-x-8 {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .p-sm-8 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
@media (min-width: 768px) {
  .p-md-t-0 {
    padding-top: 0;
  }
  .p-md-r-0 {
    padding-right: 0;
  }
  .p-md-b-0 {
    padding-bottom: 0;
  }
  .p-md-l-0 {
    padding-left: 0;
  }
  .p-md-y-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .p-md-x-0 {
    padding-right: 0;
    padding-left: 0;
  }
  .p-md-0 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .p-md-t-1 {
    padding-top: 0.25rem;
  }
  .p-md-r-1 {
    padding-right: 0.25rem;
  }
  .p-md-b-1 {
    padding-bottom: 0.25rem;
  }
  .p-md-l-1 {
    padding-left: 0.25rem;
  }
  .p-md-y-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .p-md-x-1 {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  .p-md-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  .p-md-t-2 {
    padding-top: 0.5rem;
  }
  .p-md-r-2 {
    padding-right: 0.5rem;
  }
  .p-md-b-2 {
    padding-bottom: 0.5rem;
  }
  .p-md-l-2 {
    padding-left: 0.5rem;
  }
  .p-md-y-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .p-md-x-2 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .p-md-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .p-md-t-3 {
    padding-top: 0.75rem;
  }
  .p-md-r-3 {
    padding-right: 0.75rem;
  }
  .p-md-b-3 {
    padding-bottom: 0.75rem;
  }
  .p-md-l-3 {
    padding-left: 0.75rem;
  }
  .p-md-y-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .p-md-x-3 {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .p-md-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .p-md-t-4 {
    padding-top: 1rem;
  }
  .p-md-r-4 {
    padding-right: 1rem;
  }
  .p-md-b-4 {
    padding-bottom: 1rem;
  }
  .p-md-l-4 {
    padding-left: 1rem;
  }
  .p-md-y-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .p-md-x-4 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .p-md-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .p-md-t-5 {
    padding-top: 1.5rem;
  }
  .p-md-r-5 {
    padding-right: 1.5rem;
  }
  .p-md-b-5 {
    padding-bottom: 1.5rem;
  }
  .p-md-l-5 {
    padding-left: 1.5rem;
  }
  .p-md-y-5 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .p-md-x-5 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .p-md-5 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .p-md-t-6 {
    padding-top: 2rem;
  }
  .p-md-r-6 {
    padding-right: 2rem;
  }
  .p-md-b-6 {
    padding-bottom: 2rem;
  }
  .p-md-l-6 {
    padding-left: 2rem;
  }
  .p-md-y-6 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .p-md-x-6 {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .p-md-6 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .p-md-t-7 {
    padding-top: 3rem;
  }
  .p-md-r-7 {
    padding-right: 3rem;
  }
  .p-md-b-7 {
    padding-bottom: 3rem;
  }
  .p-md-l-7 {
    padding-left: 3rem;
  }
  .p-md-y-7 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .p-md-x-7 {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .p-md-7 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .p-md-t-8 {
    padding-top: 4rem;
  }
  .p-md-r-8 {
    padding-right: 4rem;
  }
  .p-md-b-8 {
    padding-bottom: 4rem;
  }
  .p-md-l-8 {
    padding-left: 4rem;
  }
  .p-md-y-8 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .p-md-x-8 {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .p-md-8 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
@media (min-width: 992px) {
  .p-lg-t-0 {
    padding-top: 0;
  }
  .p-lg-r-0 {
    padding-right: 0;
  }
  .p-lg-b-0 {
    padding-bottom: 0;
  }
  .p-lg-l-0 {
    padding-left: 0;
  }
  .p-lg-y-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .p-lg-x-0 {
    padding-right: 0;
    padding-left: 0;
  }
  .p-lg-0 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .p-lg-t-1 {
    padding-top: 0.25rem;
  }
  .p-lg-r-1 {
    padding-right: 0.25rem;
  }
  .p-lg-b-1 {
    padding-bottom: 0.25rem;
  }
  .p-lg-l-1 {
    padding-left: 0.25rem;
  }
  .p-lg-y-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .p-lg-x-1 {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  .p-lg-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  .p-lg-t-2 {
    padding-top: 0.5rem;
  }
  .p-lg-r-2 {
    padding-right: 0.5rem;
  }
  .p-lg-b-2 {
    padding-bottom: 0.5rem;
  }
  .p-lg-l-2 {
    padding-left: 0.5rem;
  }
  .p-lg-y-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .p-lg-x-2 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .p-lg-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .p-lg-t-3 {
    padding-top: 0.75rem;
  }
  .p-lg-r-3 {
    padding-right: 0.75rem;
  }
  .p-lg-b-3 {
    padding-bottom: 0.75rem;
  }
  .p-lg-l-3 {
    padding-left: 0.75rem;
  }
  .p-lg-y-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .p-lg-x-3 {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .p-lg-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .p-lg-t-4 {
    padding-top: 1rem;
  }
  .p-lg-r-4 {
    padding-right: 1rem;
  }
  .p-lg-b-4 {
    padding-bottom: 1rem;
  }
  .p-lg-l-4 {
    padding-left: 1rem;
  }
  .p-lg-y-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .p-lg-x-4 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .p-lg-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .p-lg-t-5 {
    padding-top: 1.5rem;
  }
  .p-lg-r-5 {
    padding-right: 1.5rem;
  }
  .p-lg-b-5 {
    padding-bottom: 1.5rem;
  }
  .p-lg-l-5 {
    padding-left: 1.5rem;
  }
  .p-lg-y-5 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .p-lg-x-5 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .p-lg-5 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .p-lg-t-6 {
    padding-top: 2rem;
  }
  .p-lg-r-6 {
    padding-right: 2rem;
  }
  .p-lg-b-6 {
    padding-bottom: 2rem;
  }
  .p-lg-l-6 {
    padding-left: 2rem;
  }
  .p-lg-y-6 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .p-lg-x-6 {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .p-lg-6 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .p-lg-t-7 {
    padding-top: 3rem;
  }
  .p-lg-r-7 {
    padding-right: 3rem;
  }
  .p-lg-b-7 {
    padding-bottom: 3rem;
  }
  .p-lg-l-7 {
    padding-left: 3rem;
  }
  .p-lg-y-7 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .p-lg-x-7 {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .p-lg-7 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .p-lg-t-8 {
    padding-top: 4rem;
  }
  .p-lg-r-8 {
    padding-right: 4rem;
  }
  .p-lg-b-8 {
    padding-bottom: 4rem;
  }
  .p-lg-l-8 {
    padding-left: 4rem;
  }
  .p-lg-y-8 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .p-lg-x-8 {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .p-lg-8 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
@media (min-width: 1200px) {
  .p-xl-t-0 {
    padding-top: 0;
  }
  .p-xl-r-0 {
    padding-right: 0;
  }
  .p-xl-b-0 {
    padding-bottom: 0;
  }
  .p-xl-l-0 {
    padding-left: 0;
  }
  .p-xl-y-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .p-xl-x-0 {
    padding-right: 0;
    padding-left: 0;
  }
  .p-xl-0 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .p-xl-t-1 {
    padding-top: 0.25rem;
  }
  .p-xl-r-1 {
    padding-right: 0.25rem;
  }
  .p-xl-b-1 {
    padding-bottom: 0.25rem;
  }
  .p-xl-l-1 {
    padding-left: 0.25rem;
  }
  .p-xl-y-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .p-xl-x-1 {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  .p-xl-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  .p-xl-t-2 {
    padding-top: 0.5rem;
  }
  .p-xl-r-2 {
    padding-right: 0.5rem;
  }
  .p-xl-b-2 {
    padding-bottom: 0.5rem;
  }
  .p-xl-l-2 {
    padding-left: 0.5rem;
  }
  .p-xl-y-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .p-xl-x-2 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .p-xl-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .p-xl-t-3 {
    padding-top: 0.75rem;
  }
  .p-xl-r-3 {
    padding-right: 0.75rem;
  }
  .p-xl-b-3 {
    padding-bottom: 0.75rem;
  }
  .p-xl-l-3 {
    padding-left: 0.75rem;
  }
  .p-xl-y-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .p-xl-x-3 {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .p-xl-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .p-xl-t-4 {
    padding-top: 1rem;
  }
  .p-xl-r-4 {
    padding-right: 1rem;
  }
  .p-xl-b-4 {
    padding-bottom: 1rem;
  }
  .p-xl-l-4 {
    padding-left: 1rem;
  }
  .p-xl-y-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .p-xl-x-4 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .p-xl-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .p-xl-t-5 {
    padding-top: 1.5rem;
  }
  .p-xl-r-5 {
    padding-right: 1.5rem;
  }
  .p-xl-b-5 {
    padding-bottom: 1.5rem;
  }
  .p-xl-l-5 {
    padding-left: 1.5rem;
  }
  .p-xl-y-5 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .p-xl-x-5 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .p-xl-5 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .p-xl-t-6 {
    padding-top: 2rem;
  }
  .p-xl-r-6 {
    padding-right: 2rem;
  }
  .p-xl-b-6 {
    padding-bottom: 2rem;
  }
  .p-xl-l-6 {
    padding-left: 2rem;
  }
  .p-xl-y-6 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .p-xl-x-6 {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .p-xl-6 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .p-xl-t-7 {
    padding-top: 3rem;
  }
  .p-xl-r-7 {
    padding-right: 3rem;
  }
  .p-xl-b-7 {
    padding-bottom: 3rem;
  }
  .p-xl-l-7 {
    padding-left: 3rem;
  }
  .p-xl-y-7 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .p-xl-x-7 {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .p-xl-7 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .p-xl-t-8 {
    padding-top: 4rem;
  }
  .p-xl-r-8 {
    padding-right: 4rem;
  }
  .p-xl-b-8 {
    padding-bottom: 4rem;
  }
  .p-xl-l-8 {
    padding-left: 4rem;
  }
  .p-xl-y-8 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .p-xl-x-8 {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .p-xl-8 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
.border {
  border: 1px solid #e8eaeb;
}
.border-t {
  border-top: 1px solid #e8eaeb;
}
.border-b {
  border-bottom: 1px solid #e8eaeb;
}
.border-l {
  border-left: 1px solid #e8eaeb;
}
.border-r {
  border-right: 1px solid #e8eaeb;
}
.border-b-2 {
  border-bottom: 2px solid #e8eaeb;
}
.border-rounded {
  border-radius: 0.25rem;
}
@media (min-width: 768px) {
  .border-md-r {
    border-right: 1px solid #e8eaeb;
  }
}
.text-xjumbo {
  font-size: 2.5rem !important;
}
.text-jumbo {
  font-size: 2.25rem !important;
}
.text-xxl {
  font-size: 1.875rem !important;
}
.text-xl {
  font-size: 1.5rem !important;
}
.text-lg {
  font-size: 1.25rem !important;
}
.text-base {
  font-size: 1rem !important;
}
.text-sm {
  font-size: 0.875rem !important;
}
.text-xs {
  font-size: 0.75rem !important;
}
.h1 {
  font-size: 1.875rem !important;
}
.h2 {
  font-size: 1.5rem !important;
}
.h3 {
  font-size: 1.25rem !important;
}
.h4 {
  font-size: 1rem !important;
}
.text-light {
  color: #ffffff;
}
.text-light-soft {
  color: rgba(255, 255, 255, 0.9);
}
.text-light-muted {
  color: rgba(255, 255, 255, 0.6);
}
.text-dark {
  color: #29363d;
}
.text-dark-soft {
  color: rgba(41, 54, 61, 0.6);
}
.text-dark-muted {
  color: rgba(41, 54, 61, 0.35);
}
.text-brand {
  color: #008bdb;
}
.text-brand-soft {
  color: #2197db;
}
.text-brand-muted {
  color: #4da7db;
}
.text-danger {
  color: #d95550;
}
.text-em {
  font-style: italic;
}
.wt-light {
  font-weight: 300 !important;
}
.wt-normal {
  font-weight: 400 !important;
}
.wt-medium {
  font-weight: 600 !important;
}
.wt-bold {
  font-weight: 700 !important;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-break {
  white-space: pre-line;
}
@media (min-width: 768px) {
  .text-md-left {
    text-align: left;
  }
}
.box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.tab-focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.full-height {
  min-height: 100vh;
}
.full-width {
  width: 100%;
}
.is-clickable {
  cursor: pointer;
}
.pseudo-hidden {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block {
  display: none !important;
}
@media (max-width: 543px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 543px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 543px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 544px) and (max-width: 767px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 544px) and (max-width: 767px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 544px) and (max-width: 767px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-xl-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-xl-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-xl-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 543px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 544px) and (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .hidden-lg {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-xl {
    display: none !important;
  }
}
@keyframes spin-around {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*# sourceMappingURL=app.css.map */
